<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPython.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushBash.min.js"></script>
    <script>
        SyntaxHighlighter.all()
    </script>
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="jumbotron">
      <h1>Find patterns in your data.</h1>
      <p>CorrelationBot is a simple way to find patterns in your data. It speaks HTTP, and has just one endpoint.</p>
    </div>
    <h1></h1>

    <h2>Using CorrelationBot</h2>
    <p>CorrelationBot speaks JSON over HTTP.  That's it.</p>

    <h3>Python</h3>
    <div class="well well-sm"><pre class="brush: python">
import requests

requests.post("http://correlationbot.com", data={
    "data": [
        [1, 2, 3, 4],
        [5, 6, 7, 8]
    ]
})

print requests.json
>>> 
{
    "correlations": {
        "column_1": "1",
        "column_2": "2",
        "correlation": 0.93,
        "covariance": -0.93,
        "pearson": 0.93,
        "spearman": 0.4,
        "kendall": 0.2,
    },
    // ... 
]
</pre></div>

    <h3>Curl</h3>
    <pre class="brush: bash">
$ curl -X POST -H "Content-Type: application/json" -d '{"data": [[1, 2, 3, 4],[5, 6, 7, 8]]}' http://correlationbot.com
    </pre>

    <h2>About CorrelationBot</h2>
    <p>CorrelationBot was made by the fine folks in the <a href="http://skunkworks.greenkahuna.com">GreenKahuna Skunkworks</a>.  Send them a note if you enjoy it!   It source code lives <a href="https://github.com/greenkahuna/correlationbot">on github</a>, and is MIT licensed.</p>
</div></div>
</body>
</html>