<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPython.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushBash.min.js"></script>
    <script>
        SyntaxHighlighter.all()
    </script>
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="jumbotron">
      <h1>Find patterns in your data.</h1>
      <p>CorrelationBot is a simple way to find patterns in your data. It speaks HTTP, and has just one endpoint.</p>
    </div>
    <h1></h1>

    <h2>Using CorrelationBot</h2>
    <p>CorrelationBot speaks JSON over HTTP at <code>http://correlationbot.com</code>. Use <code>GET</code> for instructions, <code>POST</code> for results. Enjoy!</p>

    <h3>Python</h3>
    <div class=""><pre class="brush: python">
>>> import json
>>> import requests
>>> headers = {'Content-type': 'application/json', }
>>> resp = requests.post("http://correlationbot.com", headers=headers, data=json.dumps({
    "data": [
        [1, 2, 3],
        [412, 5, 6],
        [45, -125, 6.334],
        # Or any number of equally-sized columns.
    ]
})
>>> print resp.json()
{
    "correlations": [
        {
            "column_1": 1,
            "column_2": 2,
            "correlation": -0.86495821895559954,
            "pearson": -0.86495821895559954,
            # As you might guess, spearman, kendall, and others coming soon.
        },
        {
            "column_1": 1,
            "column_2": 3,
            "correlation": -0.21695628247970969,
            "pearson": -0.21695628247970969,
        },
        {
            "column_1": 2,
            "column_2": 3,
            "correlation": 0.67754874098457696,
            "pearson": 0.67754874098457696,
        }
    ]
]
</pre></div>

    <h3>Curl</h3>
    <pre class="brush: bash">
$ curl -X POST -H "Content-Type: application/json" -d '{"data": [[1,2,3,4,6,7,8,9],[2,4,6,8,10,12,13,15]]}' http://correlationbot.com

{"correlations": [{"pearson": 0.99535001355530017, "column_2": 2, "column_1": 1, "correlation": 0.99535001355530017}]}
    </pre>

    <h2>About CorrelationBot</h2>
    <p>CorrelationBot was made by Steven Skoczen in the <a href="http://skunkworks.greenkahuna.com">GreenKahuna Skunkworks</a>.  Send us a note if you enjoy it!   It source code lives <a href="https://github.com/greenkahuna/correlationbot">on github</a>, and is MIT licensed.</p>
</div></div>
</body>
</html>